<div class="table-section">
    <h1>User Data</h1>
    <table class="table">
       <thead>
        <tr class="trow">
            <th scope="col">Name</th>
            <th scope="col">Mobile Number</th>
            <th scope="col">Email</th>
            <th scope="col">Hobbies</th>
            <th scope="col">Description</th>
            <th scope="col">Action</th>
        </tr>
       </thead>
        <tbody>
            <tr *ngFor="let data of datas; let i = index" class="trow">
                <td>{{data.name}}</td>
                <td>{{data.number}}</td>
                <td rowspan="2">{{data.email}}</td>
                <td>{{data.hobbies}}</td>
                <td>{{data.description}}</td>
                <td><img src="../../assets/images/download (1).png" width="40px" height="40px" alt=""
                        (click)="deleteItem(i)"> <img src="../../assets/images/edit.png" width="40px" height="40px"
                        (click)="editItem(i)">
                </td>
            </tr>
            <tr><button routerLink="/form" class="btn btn-primary">Add</button></tr>
        </tbody>
    </table>
</div>
<!-- routerLink="/contact" -->