<div class="main"> 
    <div class="container">
     <h1 style="font-size: 50px;font-style:bold;">Student Details</h1>
     <form [formGroup]="form" class="form">
       <div class="form-data">
         <label>Name</label>
         <input type="text" placeholder="Enter your name" formControlName="name" class="input-form">
       </div>
       <div class="form-data">
         <label>Mobile Number</label>
         <input type="number" placeholder="Enter mobile number" formControlName="number" class="input-form">
       </div>
       <div class="form-data">
         <label>Email</label>
         <input type="email" placeholder="Enter your email" formControlName="email" class="input-form">
       </div>
       <div class="form-data">
         <label for="hobbies">Hobbies:</label>
         <select name="hobbies" id="hobbies" formControlName="hobbies" class="input-form">
           <option value="singing">singing</option>
           <option value="playing">playing</option>
           <option value="writing">writing</option>
           <option value="listening">listening</option>
         </select>
       </div>
       <div class="form-data">
         <label for="description">Review of W3Schools:</label>
   
         <textarea id="description" name="description" rows="4" cols="50" formControlName="description" class="input-form">
   
   </textarea>
       </div>
     </form>
     <div class="form-btn">
       <button  routerLink="/todoitems" class="btn-primary" (click)="submit()">Add</button>
       <button class="btn-info" (click)="reset()">Reset</button>
     </div>
   </div>
     
   
   
   <!-- <div class="table-section">
     <h1>User Data</h1>
     <table class="table" style="width: 100%;" >
       <tr class="trow">
         <th>Name</th>
         <th>Mobile Number</th>
         <th rowspan="2">Email</th>
         <th>Hobbies</th>
         <th>Description</th>
         <th>Action</th>
       </tr>
       <tr *ngFor="let data of datas; let i = index" class="trow">
         <td>{{data.name}}</td>
         <td>{{data.number}}</td>
         <td rowspan="2">{{data.email}}</td>
         <td>{{data.hobbies}}</td>
         <td>{{data.description}}</td>
         <td><img src="../assets/images/download (1).png" width="40px" height="40px" alt=""(click)="deleteItem(i)"> <img src="../assets/images/edit.png" width="40px" height="40px" (click)="editItem(i)">
         </td>
       </tr>
     </table>
   </div> -->
   </div>
